.porta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  /* temp */
  height: var(--area-porta-altura);
  width: var(--area-porta-largura);
  background-color: chocolate;
}

.numero {
  font-size: 3rem;
}